/* RESET */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Additional Reset */
a {
    text-decoration: none;
    color: rgba(255,255,255,0.6);
}
img {
    display: block;
}
/* * {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
} */
html, body {
    width: 100%;
    height: 100%;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    letter-spacing: 0.05em;
    color: rgba(255,255,255,0.6);
}

/* Flexbox */
.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.column {
    display: flex;
    flex-direction: column;
}
.space-between {
    justify-content: space-between;
}
.flex-end {
    justify-content: flex-end;
}
.align-center {
    align-items: center;
}
.align-end {
    align-items: flex-end;
}
/* Outer */
.outer-wrapper {
    padding: 20px;
    background: #999;
    height: 100%;
    box-sizing: border-box;
}

/* App */
.app {
    background-color: #250d0b;
    background-image: url(assets/images/bg-wow.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    border: 1px solid #000;
    box-shadow: inset 0 0 0 1px rgba(255,255,255, 0.25);
    height: calc(100vh - 40px);
    box-sizing: border-box;
}
.base {
    height: calc(100% - 80px);
}
/* Header */

.header {
    height: 80px;
    width: 100%;
    background: rgba(255,255,255,0.07);
    border-bottom: 1px solid  rgba(255,255,255, 0.15);
    box-sizing: border-box;
    position: relative;
}
.header__bg-wrap {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}
.header__bg-wrap:before {
    content: "";
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    position: absolute;
    background: rgba(255,255,255,0.07);
    z-index: 2;
}
.header__bg {
    width: 100%;
    height: calc(100vh - 40px);
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background-image: url(assets/images/bg-wow.jpg);
    background-size: cover;
    background-position: top center;
    background-repeat: no-repeat;
    filter: blur(5px);
}

.header__top-row {
    padding: 6px 13px 3px;
    position: relative;
    z-index: 3;
}
.header__bottom-row {
    padding: 13px 13px 13px 26px;
    position: relative;
    z-index: 3;
}
.header__logo {
    width: 70px;
    height: 32px;
}
.header__logo img {
    width: 100%;
    height: auto;
}
.header__nav a {
    transition: color 400ms ease-out;
    margin-left: 30px;
    font-size: 20px;
    line-height: 20px;
    color: rgba(255,255,255, 0.7);
    text-transform: uppercase;
    letter-spacing: 0;
}
.header__nav a:hover {
    color: #FFF;
}
.header__nav a.active {
    text-shadow: 0 0 18px rgba(255,255,255,0.8);
    color: #FFF;
}
.header__nav a.dots {
    font-size: 30px;
}
/* Sidebar */
.sidebar {
    width: 220px;
    border-right: 1px solid  rgba(255,255,255, 0.15); 
    box-sizing: border-box;
    background: rgba(0,0,0,0.25);
}
.sidebar__top {
    /* overflow-y: scroll; */
}
.sidebar h4 {
    font-size: 12px;
    letter-spacing: 0;
    color: #FFF;
    margin-bottom: 4px;
    text-transform: uppercase;
    margin-left: 18px;
}
.sidebar__games-block {
    margin-top: 30px;
}
.sidebar__games-block nav a {
    padding: 0 18px;
    display: flex;
    align-items: center;
    height: 44px;
}
.sidebar__games-block nav a:hover {
    background: rgba(255,255,255,0.09);
    color: #FFF;
}
.sidebar__games-block nav a.active {
    background: rgba(255,255,255,0.18);
    color: #FFF;
    position: relative;
}
.sidebar__games-block nav a.active:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    height: 100%;
    background: #2ebdff;
}
.sidebar__games-block nav a .icon {
    width: 32px;
    height: 28px;
    margin-right: 10px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    position: relative;
}
.sidebar__games-block nav a .icon img {
    max-width: 100%;
    max-height: 100%;
    width: auto;
    height: auto;
}
.sidebar__bottom {
    height: 52px;
}
.panel-holder {
    width: calc(100% - 220px);
}
.panel {
    height: 100%;
    box-sizing: border-box;
    padding: 13px 0 30px 50px;
    overflow: hidden;
}
.panel__logo {
    width: 280px;
    height: 120px;
    margin-bottom: 20px;
}
.panel__logo img {
    max-width: 100%;
    height: auto;
    filter: drop-shadow(0 0 15px 10px rgba(0,0,0,0.9));
}
.panel__action-bar {
    background: rgba(0,0,0,0.5);
    padding: 8px;
    display: inline-block;
    margin-bottom: 8px;
}
.panel__action-bar__nav {

}
.panel__action-bar__nav a {
    color: #FFF;
    text-shadow: 0 1px 1px rgba(0,0,0,0.6);
    display: flex;
    align-items: center;
    margin-right: 10px;
}
.panel__action-bar__nav a .icon {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background: #2ebdff;
    margin-right: 4px;
}
.panel__slider {
    width: 100%;
}
.panel__slider .swiper-container {
    overflow: visible;
}
.panel__slider .swiper-slide {
    width: 230px;
}
.panel__slider .swiper-slide--first {
    width: 480px;
}
.panel__slider .card {
    width: 100%;
    height: 270px;
    background: #FFF;
    border: 1px solid #000;
    box-shadow: inset 0 0 0 1px rgba(255,255,255, 0.25), 0 3px 12px rgba(0,0,0,0.7);
    box-sizing: border-box;
}
.panel__play .play {
    display: block;
    width: 275px;
    height: 68px;
    background: #2ebdff;
    color: #FFF;
    font-size: 28px;
    line-height: 68px;
    text-transform: uppercase;
    border-radius: 3px;
    text-align: center;
    background-image: linear-gradient(180deg, #0f99d9, #0178af);
    box-shadow:  0 3px 12px rgba(0,0,0,0.7);
    margin-right: 30px;
}
.panel__play .play:hover {
    background-image: linear-gradient(180deg, #41c3ff, #0298de);

}
.panel__selection__dropdown-item h4 {
    font-size: 12px;
    letter-spacing: 0;
    margin-bottom: 8px;
    text-transform: uppercase;
}
.panel__selection__dropdown-item .select {
    width: 275px;
    height: 34px;
    border: 1px solid rgba(255,255,255,0.25);
    border-radius: 2px;
    margin-right: 9px;
    background: rgba(0,0,0,0.3);
    padding: 0 8px;
    box-sizing: border-box;
    margin-bottom: 12px;
    color: #FFF;
    line-height: 34px;
}